
  li {
    margin-bottom: .5em;
    div {
      border: solid 1px rgba(128, 128, 128, .8);
      border-radius: .2em;

      &.public {
        background-color: rgba(12, 50, 200, .5);
      }

      &.collection-item {
        height: 2em;
        line-height: 2em;
        vertical-align: middle;
      }
    }
  }


