<h1>{{ title | uppercase }}</h1>
<h2>{{ subTitle }}</h2>

<button type="button" (click)="changeTitle()">
  Change title
</button>

<!-- Using structure directives -->
<ul>
  <ng-container *ngFor="let address of addressList">
    <li *ngIf="address.isPublic">
        <strong>{{ address.firstName }} {{ address.lastName }}</strong>
    </li>
    <li *ngIf="!address.isPublic">
        <em>{{ address.firstName }} {{ address.lastName }}</em>
    </li>
  </ng-container>
</ul>

{{ addressList | json }}

