<header>
  <h1>{{ 'appTitle' | translate }}</h1>
  <h2>{{ subTitle }}</h2>

  <button type="button" (click)="navigateToLogin()">
    Go to login
  </button>

  <!-- Language switcher
  <select [(ngModel)]="language" size="1">
    <option value="fr">Français</option>
    <option value="en">English</option>
  </select>
 -->

  <form [formGroup]="searchFormGroup">
    <input type="text" placeholder="{{ 'address-search-label' | translate }}" formControlName="searchTerm">
  </form>

  <div class="container" *ngIf="!isLoginUp()">
    <button
      class="btn btn-primary"
      *ngIf="!userService.isAuthenticated()"
      (click)="navigateToLogin()"
      appCustomButton
      color="red"
    >

    </button>
    <button
      class="btn btn-danger"
      *ngIf="userService.isAuthenticated()"
      (click)="userService.logout()"
      appCustomButton
      color="pink"
      content="{{ (userService.isAuthenticated() ? 'logout' : 'login') | upperFirstLetter: {boldize: true} }}"
    >
    </button>

  </div>
</header>

<!-- Router outlet -->
<router-outlet></router-outlet>

